
section div
{
	
	margin: 40px 220px;
	width:900px;
	height:250px;
	position: relative;
	box-shadow: 5px 5px 10px silver;
}
section div .x
{
	float:left;
}


section div div
{
	
	height: 150px;
	width: 600px;
	text-align: center;
	margin: 20px 30px;
	
}
section div div h1
{
	color:#00BCDF;
	box-shadow: 5px 5px 10px silver;
}
section div input
{
	margin: 0px 500px;
	height:40px;
	width: 150px;
	border-radius: 40px;
	box-shadow: 5px 5px 10px silver;
}

img
{height:200px;
width:200px;}
.box{
	margin:40px 30px;
	padding:40px;
	height:250px;
	width:250px;
	float:left;
	text-align: center;
	border-radius: 10px;
	box-shadow: 5px 5px 10px silver;
	
}
.b1{
	background: white;
	color:white;
	margin-left: 100px;

}
.b2{
	background:white;
	color:white;
	
}
.b3{
	background:white;
	color:white;
	
}
input
{
	margin-top: 150px;
	height:40px;
	width: 200px;
	position: relative;
	border-collapse: collapse;
	border: 0px;
	border-radius: 10px;
	background: #00BCDF;
	color:white;
}

.middle
{
margin: 10px 10px;
}
 .div1
}
{
	
	margin: 40px 220px;
	width:900px;
	height:250px;
	position: relative;
	box-shadow: 5px 5px 10px silver;
}
 .x
{
	float:left;
}


 .div2
{
	
	height: 150px;
	width: 600px;
	text-align: center;
	margin: 20px 30px;
	
}
.div2 h1
{
	color:#00BCDF;
	box-shadow: 5px 5px 10px silver;
}
.div1 input
{
	margin: 0px 500px;
	height:40px;
	width: 150px;
	border-radius: 40px;
	box-shadow: 5px 5px 10px silver;
}

img
{height:200px;
width:200px;}
.box{
	margin:40px 30px;
	padding:40px;
	height:250px;
	width:250px;
	float:left;
	text-align: center;
	border-radius: 10px;
	box-shadow: 5px 5px 10px silver;
	
}
.b1{
	background: white;
	color:white;
	margin-left: 100px;

}
.b2{
	background:white;
	color:white;
	
}
.b3{
	background:white;
	color:white;
	
}
input
{
	margin-top: 150px;
	height:40px;
	width: 200px;
	position: relative;
	border-collapse: collapse;
	border: 0px;
	border-radius: 10px;
	background: #00BCDF;
	color:white;
}


