#li1,.l1_nav,.l2_nav,.h4_nav{
    display: inline;
}
.header_nav
{background-color: #02c7ff;
	width: 100%;
	height: 53px;
	color:white;
	padding: 0px 0px;
	border-radius: 50px;
	box-shadow: 5px 5px 10px silver;
	margin-top: 0px;
    margin-bottom: 10px;
}
.h4_nav{
        margin-left: 0%;
}
.li_nav2{margin-left: 3%;}
.li_nav3{margin-left: 3%;}
.li_nav4{margin-left: 3%;}
.li_nav5{margin-left: 50%;}
.li_nav6{margin-left: 3%;}
.li_nav7{margin-left: 3%;}

.li_nav1,.li_nav2,.li_nav3,.li_nav4,.li_nav5,.li_nav6,
.li_nav7
{
	float:left;
	margin: 4px 5px;
	height: 30px;
	padding-top: 13px;
	padding-bottom: 0px;
	padding-left: 50px;
	padding-right: 0px;
	width:100px;
	border-radius: 50px;
	transition: 0.4s;
}
.li_nav1,.li_nav2:hover,.li_nav3:hover,.li_nav4:hover,.li_nav5:hover,.li_nav6:hover,
.li_nav7:hover
{
	color:#02c7ff;
	background-color: white;
}